.header{
    position: sticky;
    margin: 0px 10px;
    padding: 5px 0px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    height: 47px;
}
.header_info{
    display: flex;
    align-items: center;
} 
.info{
    color: #5f6368;
    font-size: 22px;
    padding-left: 7px;
    font-family: 'Google Sans', Roboto,Arial,sans-serif;
}
.header_right{
    display: flex;
    align-items: center;
}

.header_search{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:700px;
    height: 45px;
    border-radius: 5px;
    background-color: #f4f4f9;

}

.header_search > input{
    border: none;
    height: 40px;
    background: transparent;
    outline: none;
    width: 100%;
}