.mainbody{
    margin-left: 160px;
    margin-right: 160px;
    background-color: white;
}

.mainbody_top{
    display: flex;
    margin-top:15px ;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
} 

.mainbody_top_right{
    display: flex;
    align-items: center;
} 

.mainbody_top_center{
    display: flex;
    box-sizing: content-box;
    align-items: center;
    padding: 3px 5px;
    border-radius: 6px;
    font-size: 16px; 
} 

.main_docs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

.doc_card{
    display: flex;
    margin-right: 20px;
    box-sizing: border-box;
    flex-direction: column;
    width: 200px;
}
.doc_card:hover{
    border: solid #6E2594;
} 
.doc_image{
    box-sizing: border-box;
    height: 150px;
    width: 194px;


}  

.doc_card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px; 
} 

.doc_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px; 
}
.content_left{
    display: flex;
    flex-direction: row;
    align-items: center;
}