
    .bodys {
        width: 100%;
        height: 100%;
        margin: auto;
        align-items: center;
        background-color: #ede7f6
    }
    
    .form {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        width: 70%;
        height: 100%;
        margin: auto;
        margin-bottom: 30px;
        /* padding: 15px; */ 
        align-items: center;
        background-color: #ede7f6
    
    }
    .sectiona{
        color: rgb(1, 7, 19);
        margin: 10px;
        margin-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 35px;
        padding-bottom: 35px;
        background: rgba(255, 255, 255, 0.87);;
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border-color: 5px solid rgba( 255, 255, 255, 0.18 );
        border-top: 8px solid rgb(180, 133, 244);
        align-items: center;
    }
    
    .sectionb {
        color: rgb(1, 7, 19);
        margin: 10px;
        margin-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 35px;
        padding-bottom: 35px;
        background: rgba(255, 255, 255, 0.87);;
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border-color: 5px solid rgba( 255, 255, 255, 0.18 );
       width: 88%;
        align-items: center;
    }
    
    .section p {
        font-size: 15px;
        align-items: center;
    }
    
    .required {
        color: red;
        font-size: 15px;
    }
    
    a {
        text-decoration: none;
        color: rgb(47, 47, 255);
    }
    
    
    input[type=text] {
        width: 70%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 0px;
        border: none;
        border-bottom: 2px solid rgb(177, 177, 177);
        margin-bottom: 6px;
        background-color: transparent;
      }
      
      
      input[type=text]:focus {
        background-color: transparent;
        resize: none;
        outline: none;
        border-bottom: 2px solid rgb(88, 88, 88);
      }
      
    input[type=submit] {
        width: 150px;
        height: 30px;
        font-size: 14px;
        font-weight: 300;
        color: white;
        border: none;
        background-color: rgb(160, 89, 233);
        margin-top: 30px;
        margin-left: 10px;
        border-radius: 8px;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

    } 
 
    input[type=reset] {
        width: 150px;
        height: 30px;
        font-size: 14px;
        font-weight: 300;
        color: rgb(110, 89, 233);
        border: none;
        background-color: rgb(255, 255, 255);
        margin-top: 30px;
        margin-left: 20px;
        margin-right: auto;
        border-radius: 8px;
        box-shadow: 0 8px 32px 0 rgba(50, 54, 124, 0.37);
    }
    
    .container {
        margin-left: auto;
        margin-right: auto;
    }  

    .never{
        padding-left: 15px;
        font-size: 12px;
        padding-top: 70px;
        font-weight: 400;
    
    } 
    .last-div h2{
        text-align: center;
        padding-top: 50px;
        color: #a2a4a6;
        font-weight: 200;
    }
    .term{
        font-size: 12px;
        padding-left: 65px;
        padding-top: 5px;
        position: absolute;
    }

